body {
}

article {    
    background: linear-gradient(to right, #7e0010, #af0228);
    flex-direction: column;
    max-width: 20rem;
    padding: 2rem;
    border-radius: 1rem;
    margin: auto;
    margin-top: 100px;    
  }

header {
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Smooch';
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

p {
    color: white;  
    text-align: center;
}


ul {
    list-style: none;
}
li {
    display: inline;    
}

body
profile
profile__container
card
card__header
card__header-img-container
card__header-img
card__body
card__body_title
card__body-keywords
card__body-presentation
card__footer
card__footer-nav-list
card__footer-nav-item
card__footer-nav-link
card__footer-nav-img